@charset "utf-8";

:root{
  --background-light: #fff;
  --background-dark: #121212;
  --text-light: #000;
  --text-dark: #eee;
}

body{
  background-color: var(--background-light);
  color: var(--text-light);
}

body.dark{
  background-color: var(--background-dark);
  color: var(--text-dark);
}


.hidden{
  display: none;
}

.todo-btn{
  color: red;
  outline: none;
  border: none;
  cursor: pointer;
}

input[type=checkbox]{
  accent-color: pink;
}
input[type=checkbox]:checked + span{
  text-decoration: line-through;
}